body{
    padding: 0%;
    margin: 0%;
}
.div1{
    position: fixed;
    width: 22%;
    height: 100%;
    background-color: white;
    margin-left: 0%;
    border-radius: 10px;
    box-shadow: 10px 20px 90px #63bfbf;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 25px;

}
a{
    text-decoration: none;
    color: black;
}
 a :active{
 background-color: white   ;

}
a:hover{
   color: #63bfbf;
}
.div2{
    position: fixed;
    font-size: 30px;
    margin-top: 170px;
    margin-left: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    
    
}
.div2 table{
  border-spacing: 30px;
}

.div3{
    border-radius: 24px;
    background-color:white;
    margin-left: 1470px;
    width: 20%;
    height: 100%;
    /* margin-top: 50px; */
    
    position: fixed;
    box-shadow:10px 20px 90px #63bfbf;
}
 

.div2 img{
    width:50px ;
    height:50px;
}
#logo{
    width: auto;
    height: 100px;
    margin-left: 40px;
    margin-top: 30px;

}
.div4{
    
    width:20%;
    height: 100%;
    position: fixed;
    margin-left: 100px; 
    margin-top: 40px; 

 } 
.div4 img{ 
    width: 200px;
    height: 200px;
    border-radius: 24px;
}
.div3 h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin-left: 10px;
    margin-top: 50px;
    font-size: 40px;
    
    color:  #63bfbf ;
}
#student{
    width: 50px;
    height: 50px;
    margin-left: 80px;
    margin-top: 20px;
} 
.profile{
        margin-top: 320px;
    margin-left: 29px;
   
}
.profile table{
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
   
}
.profile td{
    padding-top: 10px;
    padding-bottom: 5px;
}
.icon table {
    position: fixed;
    margin-top: 260px;
    margin-left: 55px;
    border-spacing: 30px;
}
.icon img{

    width: 50px;
    height: 50px;

}
.div6{

    border-radius: 26px;
    background-color:white;
    margin-left: 430px;
    width: 55%;
    height: 100%; 
    position: fixed;
    
} 
.div6 img{
    width: 50px;
    height: 50px;
   
}
.div6 table{
    
margin-top: 30px;
margin-left: 50px;

}
.div6 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    
}
.div6 h2{
    margin-left: 60px;
    font-size: 30px;
}
 .list img{ 
      border-radius: 100px;
     width: 70px;
     height: 70px;
 } 
 .list table{
     width: 90%;
     font-size: 20px;
     border:solid 2px #63bfbf;
     align-content: center;
     text-align: center;

 }
 .list table tr:hover{
    background-color: #63bfbf;
}
 input{
     margin-left: 350px;
     border-radius: 24px;
     padding: 15px;
     width: 250px;
 }
 input:focus{
     width: 350px;
 }
 ::placeholder{
    font-size: 15px;
   text-align: center;

} 
#chitra tr{
    background-color: #63bfbf;
}
#chithraj{
    background-color: black;
}


