body{
   height:120%;
   overflow-x: hidden;
}
h1{
  font-style: italic;
  position: relative;
  left:50%;
}
  th, td {
   padding:1%;
   border: 2px solid black;
   transition: all 2s;
  }
  table{
    box-shadow: 1px 1px 5px black;
    width:90%;
    height:90%;
    left:5%;
    position:absolute;
    top:13%;
    border:2px solid black;
  }
  td{
    text-align:center;
  }
  tr{
    transition: all .5s;
  }
  tr:hover{
    background-color: #f2f3f4;

  }
  th{
    background-color:#000000;
    color:#ffffff
  }
